*{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
}



#container{
    background-color: #f4d04e;
    justify-content: center;
    display: grid;
    height: 100vh;
    align-items: center;
    
}

.card{
    width: 384px;
    height: 522px;
    background-color: white;
    padding: 24px 24px;
    border-radius: 20px;
    outline: 1px solid;
}

.card::before{
    z-index: -1;
    border-radius: 1rem;
}

.blog_image{
    width: 336px;
    height: 200px;
    
}

.card img{
    border-radius: 10px;
    
}

.category{
    margin-top: 24px;
}

.author{
    justify-content: baseline;
}
.author img{
    width: 32px;
    height: 32px;
}